<!DOCTYPE html>
<html>
    <head>
        <title>OMERO web app</title>

        <!-- Include static css -->
        <link rel="stylesheet" type="text/css" href="{% static 'my_channel_viewer/app.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
            // Global variables, used by JavaScript code.
            window.PARAMS = {};
            window.PARAMS.EXP_ID = {{ experimenterId }};

            // Render a URL to the /api/v0/ URL for loading JSON data. In HTML because Django can't be used directly in JS.
            window.PARAMS.API_BASE_URL = "{% url 'api_base' 0 %}";
            window.PARAMS.WEBGATEWAY_BASE_URL = "{% url 'webgateway' %}";
        </script>

        <!-- Include the static JavaScript -->
        <script src="{% static 'my_channel_viewer/app.js' %}"></script>
    </head>

    <body>
        <h1>Welcome to my channel viewer</h1>


        <form title="Selected images">
          Select image to display:
          <select id="Selected_images_dropdown" method="get" action="{% url 'index' %}">
            <option value="" selected disabled hidden>Choose here</option>
            {% for loaded_image in selected_images %}
              <option label={{loaded_image.name}} value={{loaded_image.id}}></option>
            {% endfor %}
          </select>
        </form>

        <!--
        <div id="ChannelsShowButtons">
        </div>
        -->

        <!-- When the user chooses an image, we load imgData and build channel controls here -->
        <div id="TuningItems">
        </div>

    </body>
</html>
