<!DOCTYPE html>
<html>
    <head>
        <title>OMERO web app</title>

        <!-- Include static css -->
        <link rel="stylesheet" type="text/css" href="{% static 'my_channel_viewer/app.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'my_channel_viewer/style.css' %}" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        <script type="text/javascript">
            // Global variables, used by JavaScript code.
            window.PARAMS = {};
            // Render a URL to the /api/v0/ URL for loading JSON data
            window.PARAMS.API_BASE_URL = "{% url 'api_base' 0 %}";
            window.PARAMS.WEBGATEWAY_BASE_URL = "{% url 'webgateway' %}";
        </script>

    </head>

    <body>
        <h1>Welcome to my channel viewer</h1>

        <form title="Selected images">
          Select image to display:
          <select id="selected_images_dropdown" method="get" action="{% url 'index' %}">
            <option value="" selected>Choose here</option>
            {% for loaded_image in images %}
              <option label={{loaded_image.name}} value={{loaded_image.id}}></option>
            {% endfor %}
          </select>
        </form>

        <!-- When the user chooses an image, we load imgData and build channel controls here -->
        <div id="channels"></div>

        {% for image in images %}
        <!-- We use data-src to keep track of original source -->
        <img class="displayed_image"
          src="{% url 'web_render_image' image.id %}"
          data-src="{% url 'web_render_image' image.id %}" />
        {% endfor %}

        <div id="TuningSliders">

        </div>

        <!-- Include the static JavaScript -->
        <script src="{% static 'my_channel_viewer/app.js' %}"></script>
    </body>
</html>
